# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
env/
venv/
ENV/
.venv/
.Python
*.pyo

# Flask/Secrets
instance/
.env
*.sqlite3
*.db

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
